@page "/"
@using MicroArcSec.Client.Data;
@using YamlDotNet.Serialization.NamingConventions;

<PageTitle>Index</PageTitle>

<h1>Hello, gRPC!</h1>

<button class="btn btn-primary" onclick="@SayHello">Say Hello</button>
<RadzenButton Text="Hello world!" />
<Button Type="primary">Ant, Hello World!</Button>
<hr />

<p>@Greeting</p>

@functions {

    private string Greeting;

    protected override async Task OnInitializedAsync()
    {
        //var deserializer = new YamlDotNet.Serialization.DeserializerBuilder()
        //    .WithNamingConvention(CamelCaseNamingConvention.Instance)
        //    .Build();

        //var myConfig = deserializer.Deserialize<YamlSample>(File.ReadAllText("H:\\sample.yaml"));
    }


    async Task SayHello()
    {
        var channel = new Channel("localhost:5121", ChannelCredentials.Insecure);
        var client = new Greeter.GreeterClient(channel);

        var reply = await client.SayHelloAsync(new HelloRequest { Name = "Blazor gRPC Client" });
        Greeting = reply.Message;

        await channel.ShutdownAsync();
    }

}