.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.card {
    width: 18rem;
    max-width: 300px;
    min-width: 300px;
    min-height: 350px;
    flex-basis: calc(25% - 10px);
    margin: 20px;
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 10px;
    padding: 15px;
    position: relative;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.card-text {
    font-size: 0.9rem;
    color: #555;
}

.text-muted {
    font-size: 0.7rem;
}

.badge {
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
    border-radius: 10px;
    padding: 5px 10px;
    text-transform: uppercase;
}

.bg-primary {
    background-color: #007bff !important;
}

.bg-warning {
    background-color: #ffc107 !important;
}

.bg-danger {
    background-color: #c30010 !important;
    color: white;
}

.bg-secondary {
    background-color: #6c757d !important;
}

.custom-button:hover {
    cursor: pointer;
}

.center-button {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    bottom: 0;
}

.detail-header {
    padding: 15px;
    border-radius: 10px;
    font-weight: 900;
    background-color: cornsilk;
}

.detail-header-desciption {
    font-weight: 700;
    font-style: italic;
    margin-left: 25px !important;
    color: #727272;
}

.detail-body {
    border: 5px dashed lightgrey;
    padding: 15px;
    border-radius: 10px;
}

.dashed-border-button {
    border: 5px dashed lightgrey; /* Width and style of the border */
    border-radius: 10px;
    background-color: #ffffff; /* Background color of the button */
    color: #525252; /* Text color of the button */
    padding: 10px 20px; /* Space between text and border */
    font-size: 16px; /* Font size of the text */
    cursor: pointer; /* Change cursor on hover */
    transition: all 0.3s ease-in-out; /* Smooth transition on hover */
    margin-bottom: 25px;
    width: 100%;
    font-weight: 900;
    font-size: 35px;
}

.dashed-border-button:hover {
    background-color: #b0b0b0; /* Change background color on hover */
    color: #ffffff; /* Change text color on hover */
    border-color: #ffffff; /* Change border color on hover */
}

.table-container {
    overflow-x: auto;
    max-width: 100%;
    margin-bottom: 10px;
}


/*thead th {
    text-align: left;
    padding: 8px;
}

tbody td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
}*/

table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    background-color: #6c6c6c;
    border: 1px solid #ddd;
    color: #fff;
    text-align: center;
    height: 60px;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody td {
    padding: 10px;
    border: 1px solid #ddd;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

button {
    background-color: #f5f5f5;
    border: none;
    color: black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

    button.active {
        background-color: #4CAF50;
        color: white;
        pointer-events: none;
    }

    button.prev,
    button.next {
        background-color: #ddd;
    }

        button.prev:hover,
        button.next:hover {
            background-color: #bbb;
        }

.high-level {
    color: red;
}

.medium-level {
    color: orange;
}

.low-level {
    color: black;
}

.highlight {
    background-color: inherit;
    animation: highlight 3s ease-out;
}

@keyframes highlight {
    from {
        background-color: yellow;
    }

    to {
        background-color: inherit;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

    .pagination button {
        background-color: #fff;
        border: 1px solid #ddd;
        color: #333;
        cursor: pointer;
        font-size: 14px;
        margin: 0 5px;
        padding: 5px 10px;
    }

        .pagination button:hover {
            background-color: #ddd;
        }

    .pagination .active {
        background-color: #333;
        color: #fff;
        font-weight: bold;
    }
